name: Publish Package to PyPI

on:
  release:
    types: [published]

jobs:
  publish-to-pypi:
    name: Publish Package to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/FontCollector
    permissions:
      contents: write
      id-token: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: "Install build"
      run: pip install build

    - name: Build package
      run: python -m build

    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

    - name: Upload artifact signatures to GitHub Release
      env:
        GITHUB_TOKEN: ${{ github.token }}
      run: gh release upload '${{ github.ref_name }}' dist/** --repo '${{ github.repository }}'
