name: Run Tests

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  run-tests:
    name: "Test (${{matrix.os}}, Python ${{ matrix.python-version }})"
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python requirements
      run: pip install --upgrade --upgrade-strategy eager .

    - name: Install platform-specific requirements (Ubuntu)
      if: runner.os == 'Linux'
      run: |
        sudo apt update
        sudo apt install mkvtoolnix

    - name: Install platform-specific requirements (macOS)
      if: runner.os == 'macOS'
      run: brew install --cask mkvtoolnix

    - name: Install platform-specific requirements (Windows)
      if: runner.os == 'Windows'
      run: |
        choco install mkvtoolnix --no-progress --yes
        Import-Module $env:ChocolateyInstall\helpers\chocolateyProfile.psm1
        refreshenv
        $mkvmergePath = (Get-Command mkvmerge).Source
        $mkvtoolnixPath = Split-Path -Path $mkvmergePath -Parent
        echo $mkvtoolnixPath | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      # We need to conserve mkvtoolnix in the PATH env variable.
      # From https://stackoverflow.com/a/73981698/15835974

    - name: Install dependencies
      run: |
        pip install pytest
        pip install coverage
        pip install mypy

    - name: Run tests
      run: |
        pytest

    - name: Typecheck with mypy
      run: |
        mypy

    - name: Generate coverage report
      run: |
        coverage run -m pytest
        coverage xml

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
